In [1]:
#set

In [2]:
s = {2,8,8,4,5,9,6,7,7,9,1}
print(s)

{1, 2, 4, 5, 6, 7, 8, 9}

In [3]:
print(type(s))

<class 'set'>

In [4]:
s={}
print(type(s))

<class 'dict'>

In [5]:
s=set()
print(type(s))

<class 'set'>

In [6]:
s = {2,8,8,4,5,9,6,7,7,9,1}
print(s)

for x in s:
    print(x)

{1, 2, 4, 5, 6, 7, 8, 9}
1
2
4
5
6
7
8
9

In [7]:
#set methods

In [24]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities2 = {"Bangalore", "Ahmedabad", "Hyderabad","Tokyo"}

print(cities1,cities2)

{'Ahmedabad', 'Tokyo', 'Mumbai', 'Delhi'} {'Ahmedabad', 'Bangalore', 'Tokyo', 'Hyderabad'}

In [25]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities2 = {"Bangalore", "Ahmedabad", "Hyderabad","Tokyo"}
cities1.union(cities2)

{'Ahmedabad', 'Bangalore', 'Delhi', 'Hyderabad', 'Mumbai', 'Tokyo'}

In [26]:
cities1.intersection(cities2)

{'Ahmedabad', 'Tokyo'}

In [27]:
cities1.difference(cities2)

{'Delhi', 'Mumbai'}

In [28]:

cities1.isdisjoint(cities2)

False

In [30]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities2 = { "Ahmedabad","Tokyo"}
cities1.issuperset(cities2)

True

In [32]:
cities2.issubset(cities1)

True

In [34]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities1.add("Chittrakot")
print(cities1)

{'Delhi', 'Mumbai', 'Chittrakot', 'Ahmedabad', 'Tokyo'}

In [37]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities1.remove("Mumbai")
print(cities1)

{'Ahmedabad', 'Tokyo', 'Delhi'}

In [41]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities1.pop()
print(cities1)

{'Tokyo', 'Mumbai', 'Delhi'}

In [42]:
cities1 = {"Delhi", "Mumbai", "Ahmedabad", "Tokyo"}
cities1.clear()
print(cities1)

set()